// Mise en page mobile first

/* Largeur d'écran >= 1024px */
@media screen and (min-width : $ipad-pro) {  // 1024px
  body {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .recipes-wrapper {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3.2rem;
  }
  
  .recipes-wrapper article {
    min-width: 26rem;
    height: 36.4rem;
  }

  .recipe-name {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5rem;
  }

  .recipe-ingredients {
    font-size: 1.4rem;
    line-height: 1.5rem;
  }
  
  
  .btn {
    font-size: 1.8rem;
    height: 6.9rem;
    width: 17rem;
  }

  .dropdown-wrapper {
    column-gap: 1.4rem;
  }

  #myInputIngredients, #myInputAppareils, #myInputUstensiles {
    font-size: 1.5rem;
    padding: 1rem 1rem 1rem 0.5rem;
  }

  .dropdown-content {  /* <ul> */
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.2rem;
    line-height: 2rem;
  }

  .dropdown-content-ingredients {  /* <ul> */
    height : 39.7rem;
    width: 40rem;
  }
  
  .dropdown-content-appareils {  /* <ul> */
    height : 39.7rem;
    width: 40rem;
  }
  
  .dropdown-content-ustensils {  /* <ul> */
    height : 39.7rem;
    width: 40rem;
  }

  .li-ingredients, .li-appareils, .li-ustensiles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    margin-top: 0.7rem;
    cursor: pointer;
  }
  
}

