// Mise en page mobile first

/* Largeur d'écran >= 1024px */
@media screen and (min-width : $ipad-pro) {  // 1024px
  body {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .recipes-wrapper {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3.2rem;
  }
  
  .recipes-wrapper article {
    min-width: 26rem;
    height: 36.4rem;
  }

  .recipe-name {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5rem;
  }

  .recipe-ingredients {
    font-size: 1.4rem;
    line-height: 1.5rem;
  }
  
  .btn {
    font-size: 1.8rem;
    height: 6.9rem;
    width: 17rem;
  }
  
}

