// Mise en page mobile first

/* Largeur d'écran >= 1024px */
@media screen and (min-width : $ipad) {  // 1024px
  body {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .recipes_wrapper {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3.2rem;
  }
  
  .recipes_wrapper article {
    min-width: 26rem;
    height: 36.4rem;
  }
}

