// Mise en page mobile first

/* Largeur d'écran >= 1280px */
@media screen and (min-width : $laptop) {  // 1280px ; correspond à nest-hub-max
  body {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .recipes-wrapper {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 3.2rem;
  }
  
  .recipes-wrapper article {
    min-width: 26rem;
    height: 36.4rem;
  }

  .recipe-name {
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 2.16rem;
  }

  .fa-clock {
    font-size: 1.7rem;
  }

  .recipe-time {
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 2.16rem;
  }

  .recipe-ingredients {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.44rem;
  }

  .recipe-description {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7rem;
  }

  
  .btn {
    font-size: 1.8rem;
    height: 6.9rem;
    width: 17rem;
  }

  .dropdown-wrapper {
    column-gap: 2rem;
  }

  #myInputIngredients, #myInputAppareils, #myInputUstensiles {
    font-size: 1.8rem;
    padding: 1rem 9.5rem 1rem 0.5rem;
  }

  .dropdown-content {  /* <ul> */
    padding-left: 1.9rem;
    padding-right: 1.9rem;
    font-size: 1.8rem;
    line-height: 2.16rem;
  }

  .dropdown-content-ingredients {  /* <ul> */
    height : 39.7rem;
    width: 66.7rem;
  }
  
  .dropdown-content-appareils {  /* <ul> */
    height : 39.7rem;
    width: 66.7rem;
  }
  
  .dropdown-content-ustensils {  /* <ul> */
    height : 39.7rem;
    width: 66.7rem;
  }

  .li-ingredients, .li-appareils, .li-ustensiles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    margin-top: 0.7rem;
    cursor: pointer;
  }

  .tags-wrapper ul {
    column-gap: 1rem;
    font-size: 1.6rem;
  }

  .tags-wrapper ul li {
    column-gap: 1.3rem;
    padding: 1rem 2rem;
  }


   // Style de la Modale
   .modal-content-data .recipe-photo {
    height: 18rem;
  }
  
  .modal-content-data .recipe-name {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 1rem;
  }

  .modal-content-data .fa-clock {
    font-size: 2rem;
  }
  
  .modal-content-data .recipe-time {
    font-size: 2rem;
  }

  .modal-content-data .recipe-ingredients {  
    font-size: 1.8rem;
    line-height: 2rem;
  }
  
  .modal-content-data .recipe-description {
    font-size: 1.6rem;
    line-height: 1.85rem;
  }
  
}