// Mise en page mobile first

/* Largeur d'écran >= 1440px */
@media screen and (min-width : $desktop) {  // 1440px
  body {
    padding-left: 10rem;
    padding-right: 10rem;
  }
  .recipes-wrapper {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 3.2rem;
  }
  
  .recipes-wrapper article {
    min-width: 26rem;
    height: 36.4rem;
  }

  .recipe-name {
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 1.6rem;
  }

  .recipe-ingredients {
    font-size: 1.2rem;
    line-height: 1.3rem;
  }

  .btn {
    font-size: 1.8rem;
    height: 6.9rem;
    width: 17rem;
  }


   // Style de la Modale
  .modal-content-data .recipe-photo {
    height: 25rem;
  }

  .modal-content-data .recipe-description {
    font-size: 1.8rem;
  }
  
}