// Mise en page mobile first

/* Largeur d'écran >= 1440px */
@media screen and (min-width : $desktop) {  // 1440px
  body {
    padding-left: 10rem;
    padding-right: 10rem;
  }
  .recipes_wrapper {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 3.2rem;
  }
  
  .recipes_wrapper article {
    min-width: 26rem;
    height: 36.4rem;
  }
}