// Mise en page mobile first

/* Largeur d'écran >= 1600px */
@media screen and (min-width : $desktop-x-large) {  // 1600px
  body {
    padding-left: 10rem;
    padding-right: 10rem;
  }
  .recipes-wrapper {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 3.2rem;
  }
  
  .recipes-wrapper article {
    min-width: 26rem;
    height: 36.4rem;
  }

  .recipe-name {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.7rem;
  }

  .recipe-ingredients {
    font-size: 1.4rem;
    line-height: 1.43rem;
    overflow: hidden;
  }

  .btn {
    font-size: 1.8rem;
    height: 6.9rem;
    width: 17rem;
  }


  // Style de la modale  
  .modal-content-data .recipe-photo {
    height: 28rem;
  }
  
  .modal-content-data .recipe-name {
    font-size: 2.5rem;
  }
  
  .modal-content-data .recipe-time {
    font-size: 2.5rem;
  }
  
  .modal-content-data .recipe-appliance {
    font-size: 2rem;
  }
  
  .modal-content-data .recipe-servings {
    font-size: 2rem;
  }
  
  .modal-content-data .recipe-ustensils {
    font-size: 2rem;
  }
  
  .modal-content-data .recipe-ingredients {
    font-size: 2rem;
  }
  
  .modal-content-data .recipe-description {
    font-size: 2rem;
  }
  
}