// Mise en page mobile first

/* Largeur d'écran >= 280px */
@media screen and (min-width : $galaxy-fold) {  // 280px
  body {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  h1 {
    font-size: 2.8rem;
  }

  .recipes-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    row-gap: 3.2rem;
  }
  
  .recipes-wrapper article {
    min-width: 26rem;
    height: 36.4rem;
  }

  .recipe-name {
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 1.5rem;
  }

  .recipe-ingredients {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  
}