// Mise en page mobile first

/* Largeur d'écran >= 360px */
@media screen and (min-width : $galaxy-s5) {  // 360px ; correspond à moto-g4
  body {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .recipe-name {
    font-size: 1.5rem;
  }

  .recipe-ingredients {
    font-size: 1.2rem;
  }

  .recipe-name {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.5rem;
  }

  .recipe-ingredients {
    font-size: 1rem;
    line-height: 1.3rem;
  }
  
}

