// Mise en page mobile first

/* Largeur d'écran >= 375px */
@media screen and (min-width : $iphone-6-7-8) {  // 375px ; correspond à iphone-x
  body {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .recipe-name {
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.5rem;
  }

  .recipe-ingredients {
    font-size: 1.1rem;
    line-height: 1.3rem;
  }
  
}