// Mise en page mobile first

/* Largeur d'écran >= 411px */
@media screen and (min-width : $pixel-2-xl) {  // 411px
  body {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .recipe-name {
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.5rem;
  }

  .recipe-ingredients {
    font-size: 1.1rem;
    line-height: 1.4rem;
  }
  
}