// Mise en page mobile first

/* Largeur d'écran >= 414px */
@media screen and (min-width : $iphone-6-7-8-plus) {  // 414px
  body {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .recipe-name {
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.5rem;
  }

  .fa-clock {
    font-size: 1.3rem;
  }

  .recipe-time {
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 2.16rem;
  }

  .recipe-ingredients {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.3rem;
  }

  .recipe-description {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.7rem;
  }
  
}