// Mise en page mobile first

/* Largeur d'écran >= 540px */
@media screen and (min-width : $surface-duo) {  // 540px
  body {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .recipes-wrapper {
    grid-template-columns: 1fr;
    gap: 3.2rem 5rem;
  }
  
  .recipes-wrapper article {
    min-width: 38rem;
    height: 36.4rem;
  }

  .recipe-name {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.5rem;
  }

  .recipe-ingredients {
    font-size: 1.3rem;
    line-height: 1.5rem;
  }
  
}