// Mise en page mobile first

/* Largeur d'écran >= 540px */
@media screen and (min-width : $surface-duo) {  // 540px
  body {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .recipes_wrapper {
    grid-template-columns: 1fr;
    gap: 3.2rem 5rem;
  }
  
  .recipes_wrapper article {
    min-width: 38rem;
    height: 36.4rem;
  }
  
}