// Mise en page mobile first

/* Largeur d'écran >= 768px */
@media screen and (min-width : $ipad) {  // 768px
  body {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .recipes-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3.2rem 5rem;
  }
  
  .recipes-wrapper article {
    min-width: 38rem;
    height: 36.4rem;
  }

  .recipe-name {
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 1.5rem;
  }

  .recipe-ingredients {
    font-size: 1.6rem;
    line-height: 1.7rem;
  }
  
}

