// Smartphones
$galaxy-fold: 280px;
$iphone-5-se: 320px;
$galaxy-s5: 360px;
$iphone-6-7-8: 375px;
$pixel-2-xl: 411px;
$iphone-6-7-8-plus: 414px;
$surface-duo: 540px;

// Tablettes
$ipad: 768px;
$ipad-pro: 1024px;

// Ordinateurs
$laptop: 1280px;
$desktop: 1440px;
$desktop-x-large: 1600px;