/**
 * Nom du fichier : assets\css\style.css
 * Fonction : Stylise la page d'accueil
 * Auteur(s) : Charles-Henri Saint-Mars
**/


body {
  padding-top: 4.2rem;
  padding-left: 10rem;
  padding-right: 10rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 2.5rem;
}

.logo {
  width: 5.048rem;
  height: 4.629rem;
}

h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 3.6rem;
  color: #D04F4F;
}

.recipes-wrapper {
  display: grid;
  margin-bottom: 2.5rem;
}

.recipes-wrapper article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    'photo photo'
    'name time'
    'ingredients description';
  border-radius: 0.5rem;
  padding-bottom: 2rem;
  background-color:#E7E7E7;
}

.recipe-photo {
  grid-area: photo;
  height: 17.8rem;
  width: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-color: #C7BEBE;
}

.recipe-name {
  grid-area: name;
  height: 4.5rem;
  // width: 100%;
  padding-top: 2rem;
  margin-left: 1.8rem;
  margin-bottom: 0.4rem;
  //font-size: 1.8rem;
  //font-weight: 400;
  //line-height: 2.16rem;
  //background-color: peachpuff;
}

.recipe-time {
  grid-area: time;
  height: 4.5rem;
  // width: 100%;
  padding-top: 2rem;
  margin-right: 1.8rem;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: right;
  line-height: 2.16rem;
  //background-color: fuchsia;
}

.recipe-ingredients {
  grid-area: ingredients;
  height: 12.1rem;
  // width: 100%;
  padding-top: 2rem;
  margin-left: 1.8rem;
  //font-size: 1.3rem;
  //font-weight: 400;
  line-height: 1.44rem;
  border-bottom-left-radius: 0.5rem;
  //background-color: mediumpurple;
}

.recipe-description {
  grid-area: description;
  height: 12.1rem;
  // width: 100%;
  padding-top: 2rem;
  margin-right: 1.8rem;
  font-family: Roboto, sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  @include multiline-ellipsis(6);
  border-bottom-right-radius: 0.5rem;
  //background-color: cyan;
}

.fa-clock {
  margin-right: 1rem;
}

.search-input {
  margin-bottom: 2.5rem;
}

#search-bar {
  width: 100%;
  height: 6.9rem;
  background-color: #E7E7E7;
  font-size: 2rem;
  padding-left: 2.4rem;
  background-image: url('../images/icons/magnifying-glass-solid.svg');
  background-position: 98% 12px;
  background-size: 35px 35px;
  background-repeat: no-repeat;
}



// ******* Gestion des boutons de filtre *******
.btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-family: Lato, sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.16rem;
  border: none;
  cursor: pointer;
  height: 6.9rem;
  width: 17rem;
  border-radius: 0.5rem;
}

.dropbtn {
  background-color: #3282F7;
}

.dropbtn2 {
  background-color: #68D9A4;
}

.dropbtn3 {
  background-color: #ED6454;
}

#myInput {
  background-position: 85% 8px;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  font-size: 17px;
  padding: 10px 95px 10px 5px;
  border-bottom: 1px solid #ddd;
  width: 100%;
}

#myInput:focus {
  outline: 3px solid #ddd;
}

.dropdown-content {
  height : 200px;
  width: 400px;
  display: none;
  position: relative;
  background-color: #f6f6f6;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.li-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-flow: column;
  margin-top: 7px;
}

a {
  text-decoration: none;
  color: initial;
}

a:hover {
  text-decoration: underline;
}

.dropdown-wrapper {
  display: flex;
  column-gap: 20px;
  width: 100%;
  height: 100%;
  margin-bottom: 2.5rem;
}

.fa-angle-up {
  position: absolute;
  left: 94%;
  top: 12px;
}

.container {
   margin-left: 0;
}

.show {
  display: block;
}

// ******* Fin de gestion des boutons de filtre ********

